node_modules
dist
build


.direnv

*.js


# TypeScript cache
*.tsbuildinfo


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*


# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


.next
out


**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json
/deploy-server/
/result
/.deploy/
